
<!DOCTYPE html>
<html lang="en">



<body class="g-sidenav-show  bg-gray-100">


     <!-- AQUI Empiezan LOS RECUADROS DE ARRIBA -->
    <div class="container-fluid py-4">

      <div class="container-fluid py-4">
        <div class="row">

          <!-- TARJETA SUPERIOR 1 -->
          <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
            <div class="card" routerLink="/SportCenter/instalaciones">
              <div class="card-body p-3">
                <div class="row">
                  <div class="col-8">
                    <div class="numbers">
                      <p class="text-sm mb-0 text-capitalize font-weight-bold">Nuestras instalaciones</p>
                      <h5 class="font-weight-bolder mb-0">
                        Consulta aquí
                      </h5>
                    </div>
                  </div>
                  <div class="col-4 text-end">
                    <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                      <i class="ni ni-app text-lg opacity-10" aria-hidden="true"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
            <div class="card" routerLink="/SportCenter/aboutUs">
              <div class="card-body p-3">
                <div class="row">
                  <div class="col-8">
                    <div class="numbers">
                      <p class="text-sm mb-0 text-capitalize font-weight-bold">Sobre nosotros</p>
                      <h5 class="font-weight-bolder mb-0">
                        Saber más
                      </h5>
                    </div>
                  </div>
                  <div class="col-4 text-end">
                    <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                      <i class="ni ni-single-02 text-lg opacity-10" aria-hidden="true"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
            <div class="card" routerLink="/SportCenter/deportes">
              <div class="card-body p-3">
                <div class="row">
                  <div class="col-8">
                    <div class="numbers">
                      <p class="text-sm mb-0 text-capitalize font-weight-bold">Reservas de Instalaciones</p>
                      <h5 class="font-weight-bolder mb-0">
                        Haz tu reserva
                      </h5>
                    </div>
                  </div>
                  <div class="col-4 text-end">
                    <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                      <i class="ni ni-building text-lg opacity-10" aria-hidden="true"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6">
            <div class="card">
              <div class="card-body p-3">
                <div class="row" routerLink="/SportCenter/eventos">
                  <div class="col-8">
                    <div class="numbers">
                      <p class="text-sm mb-0 text-capitalize font-weight-bold">Eventos Próximos</p>

                      <h5 class="font-weight-bolder mb-0">
                        Descubre más
                      </h5>
                    </div>
                  </div>
                  <div class="col-4 text-end">
                    <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                      <i class="ni ni-calendar-grid-58 text-lg opacity-10" aria-hidden="true"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-4">
        <!-- INICIO DE LA PRIMERA TARJETA -->
        <div class="col-lg-7 mb-lg-0 mb-4">
          <div class="card">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-lg-6">
                  <div class="d-flex flex-column h-100">
                    <p class="mb-1 pt-2 text-bold">Impartido por Profesionales</p>
                    <h5 class="font-weight-bolder">Clases de Tenis</h5>
                    <p class="mb-5">De los fundamentos a las técnicas avanzadas, aprende a jugar al tenis con nuestros entrenadores experimentados.</p>
                    <a class="text-body text-sm font-weight-bold mb-0 icon-move-right mt-auto" href="#" routerLink="/SportCenter/eventos">
                      Leer Más
                      <i class="fas fa-arrow-right text-sm ms-1" aria-hidden="true"></i>
                    </a>
                  </div>
                </div>
                <div class="col-lg-5 ms-auto text-center mt-5 mt-lg-0">
                  <div class="bg-gradient-primary border-radius-lg h-100">
                    <img src="../assets/img/shapes/waves-white.svg" class="position-absolute h-100 w-50 top-0 d-lg-block d-none" alt="waves">
                    <div class="position-relative d-flex align-items-center justify-content-center h-100">
                      <img class="w-100 h-100 position-relative z-index-2 pt-4" src="https://www.kampoos.com/img/2014-06/xxl/clases-de-tenis-en-club-deportivo-caja-magica-2083.jpg" alt="tennis">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
         <!-- FIN DE LA PRIMERA TARJETA -->

        <!-- INICIO DE LA SEGUNDA TARJETA -->
        <div class="col-lg-5">
          <div class="card h-100 p-3">
            <div class="overflow-hidden position-relative border-radius-lg bg-cover h-100" style="background-image: url('https://estaticos-cdn.prensaiberica.es/clip/5bb23ba5-7294-4e95-b414-de6d82968ed2_16-9-aspect-ratio_default_0.jpg');">
              <span class="mask bg-gradient-dark"></span>
              <div class="card-body position-relative z-index-1 d-flex flex-column h-100 p-3">
                <h5 class="text-white font-weight-bolder mb-4 pt-2">Nuestro Gimnasio</h5>
                <p class="text-white">Equipado con la última tecnología y diseñado para la comodidad y el rendimiento, nuestro gimnasio es el corazón de nuestro polideportivo.</p>
                <a class="text-white text-sm font-weight-bold mb-0 icon-move-right mt-auto" href="#" routerLink="/SportCenter/instalaciones">
                  Leer Más
                  <i class="fas fa-arrow-right text-sm ms-1" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
         <!-- FIN DE LA SEGUNDA TARJETA -->

           <!-- INICIO DE LA SECCIÓN DE ENTRENADORES -->
  <div class="container-fluid py-4">

    <div class="row">
      <!-- Este bloque se puede repetir para cada entrenador -->
      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top" src="https://www.onlytenis.com/blog/wp-content/uploads/2021/06/entrenador-de-tenis.jpg" alt="Foto del entrenador">
          <div class="card-body">
            <h5 class="card-title">Juan Pérez</h5>
            <p class="card-text">Entrenador de tenis con más de 20 años de experiencia. Certificado por la Federación Internacional de Tenis.</p>

          </div>
        </div>
      </div>
      <!-- Fin del bloque del entrenador -->
      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top" src="https://images.hola.com/imagenes/estar-bien/20191122154551/marcar-abdominales-clase-yoga-lb/0-749-606/clase-yoga-t.jpg" alt="Imagen de la clase">
          <div class="card-body">
            <h5 class="card-title">Yoga para principiantes</h5>
            <p class="card-text">Una introducción suave a la práctica del yoga. Perfecto para principiantes y para aquellos que buscan un enfoque más tranquilo y centrado.</p>

          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top" src="https://espanol.reviewjournal.com/wp-content/uploads/2017/08/web1_academia-de-basketball_wilmer1_082616_6891528.jpg" alt="Imagen de la clase">
          <div class="card-body">
            <h5 class="card-title">Clases de Baloncesto</h5>
            <p class="card-text">Clases de baloncesto para todos los niveles. Perfecto para principiantes y para aquellos que buscan na mejora en su jugabilidad ye stilo.</p>

          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- FIN DE LA SECCIÓN DE ENTRENADORES -->

  <!-- INICIO DE LA SECCIÓN DE CLASES Y PROGRAMAS -->
  <div class="container-fluid py-4">
    <h2 class="font-weight-bold">Noticias y Actualizaciones</h2>
    <div class="row">
      <!-- Este bloque se puede repetir para cada noticia o actualización -->
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Nuevo horario de apertura</h5>
            <p class="card-text">A partir del próximo mes, ampliaremos nuestras horas de apertura los fines de semana. ¡Más tiempo para entrenar y divertirse!</p>
            <a href="#" class="btn btn-primary">Leer más</a>
          </div>
        </div>
      </div>
      </div>
  </div>
      </div>

      <!-- FIN DE LAS TARJETASº-->

     </div>

</body>

</html>
