h1 {
  text-align: center;
  margin-bottom: 20px;
}

.installation-card {
  max-width: 600px;
  margin: auto;
  cursor: pointer;
 
}

.installation-card h2 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

.installation-card mat-card-content {
  height: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.intro {
  font-size: 1.2em;
  line-height: 1.5;
  color: #333;
  margin: 1em 2em;
  text-align: justify;
}


