<mat-toolbar class="light-grey-toolbar">

        <img src="../assets/img/logo-ct-dark.png" class="navbar-brand-img h-100" alt="main_logo">
        <span class="ms-1 font-weight-bold">Gilca's Sport Center</span>
  <span class="spacer"></span>
  <button mat-icon-button [matMenuTriggerFor]="appMenu">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>

<mat-menu #appMenu="matMenu">
  <button mat-menu-item>
    <mat-icon>home</mat-icon>
    <span>Inicio</span>
  </button>
  <button mat-menu-item routerLink="/SportCenter/deportes" >
    <mat-icon>book</mat-icon>
    <span>Reservas</span>
  </button>
  <button mat-menu-item>
    <mat-icon>exercise</mat-icon>
    <span>Instalaciones</span>
  </button>
  <button mat-menu-item>
    <mat-icon>settings</mat-icon>
    <span>Configuración</span>
  </button>
  <!-- Agrega más elementos de menú aquí -->
  <!-- El nuevo elemento de menú con un submenú -->
  <button mat-menu-item [matMenuTriggerFor]="adminMenu">
    <mat-icon>admin_panel_settings</mat-icon> <!-- Cambia este icono por el que desees -->
    <span>Administración</span>
  </button>
  <mat-menu #adminMenu="matMenu">
    <button mat-menu-item routerLink="/Admin/gestionDeportes">
      <mat-icon>sports_soccer</mat-icon> <!-- Cambia estos iconos por los que desees -->
      <span>Gestionar Deportes</span>
    </button>
    <button mat-menu-item routerLink="/protected/addPista">
      <mat-icon>directions_run</mat-icon>
      <span>Gestionar Pistas</span>
    </button>
    <button mat-menu-item routerLink="/Admin/gestionReservas">
      <mat-icon>book_online</mat-icon>
      <span>Gestionar Reservas</span>
    </button>
  </mat-menu>

</mat-menu>
