<!-- Sección de introducción -->
<div class="introduction">
  <h1>Próximos eventos</h1>
  <p class="intro">Bienvenido a nuestra página de eventos. Aquí encontrarás todos los próximos eventos que se celebrarán en nuestro polideportivo. Desde torneos deportivos hasta clases de fitness y eventos comunitarios, siempre hay algo emocionante sucediendo aquí.</p>
</div>

<!-- Sección de eventos -->
<div class="events-container">
  <h2>Eventos destacados</h2>
  <mat-grid-list cols="2" rowHeight="500px" >
    <mat-grid-tile *ngFor="let event of events">
      <a >
        <mat-card class="installation-card p-2">
          <img mat-card-image [src]="event.image" alt="{{ event.name }}">
          <mat-card-content>
            <h2>{{ event.name }}</h2>
            <p>{{ event.description }}</p>
          </mat-card-content>
        </mat-card>
      </a>
    </mat-grid-tile>
  </mat-grid-list>

</div>

<!-- Sección de preguntas frecuentes -->
<div class="faq">
  <h2>Preguntas frecuentes</h2>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          ¿Cómo puedo registrarme para un evento?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Puedes registrarte para un evento visitando nuestra recepción o contactándonos por teléfono o correo electrónico. Asegúrate de registrarte con antelación, ya que muchos de nuestros eventos se llenan rápido.</p>
    </mat-expansion-panel>
    <!-- Añade más paneles de expansión aquí para más preguntas -->
  </mat-accordion>
</div>
