


<div class="container text-center">
  <h1 class="my-4">Seleccione la pista que desea reservar</h1>

  <div class="d-flex justify-content-around align-items-center">


    <div class="d-flex flex-row justify-content-center align-items-start flex-wrap">
      <div class="card m-2" style="width: 18rem;" *ngFor="let pista of pistas?.pistas ">
        <div class="card-body">
          <i class="fas fa-volleyball-ball fa-2x"></i>
          <h5 class="card-title">{{ pista.nombre | titlecase }}</h5>
          <button class="btn btn-primary" (click)="selectPista(pista.uid!)">Seleccionar</button>
          <button class="btn btn-warning" (click)="editPista(pista)" *ngIf="validate == true">Editar</button>
        </div>
      </div>
    </div>


  </div>
  <button class="btn btn-primary" (click)="prevWeek()" *ngIf="selectedPistaId">Semana anterior</button>
  <button class="btn btn-primary" (click)="nextWeek()" *ngIf="selectedPistaId">Siguiente semana</button>

  <div *ngIf="selectedPistaId" class="mt-4">
    <h2>Horarios disponibles para {{ getPistaName(selectedPistaId) }}</h2>
    <p>Semana del {{ getWeekRange() }}</p>
    <p>Seleccione una hora para hacer una reserva.</p>
    <!-- Aquí va el código de la tabla -->

    <div *ngFor="let pista of pistas!.pistas">
      <div class="table-responsive" *ngIf="selectedPistaId === pista.uid">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">{{ pista.nombre }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let day of weekDays" class="border-bottom">
              <th scope="row">{{ day }}</th>
              <td>
                <ng-container *ngIf="pista.horariosDisponibles?.[day]">
                  <button class="btn btn-primary btn-block" *ngFor="let hora of pista.horariosDisponibles[day]" [disabled]="!canReserve(day, hora, pista)" (click)="reserve(day, hora, pista)">{{ hora }}</button>

                </ng-container>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>



  </div>
</div>

