.container {
    margin: 0 auto;
    max-width: 800px;
    padding: 1rem;
  }
  
  .title {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .description {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .actions {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }
  
  .table-container {
    margin-top: 1rem;
  }
  
  .full-width-table {
    width: 100%;
  }
  