<!DOCTYPE html>
<html>
<head>
  <title>Sobre Nosotros - Gilca´s Sport Center</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
  
</head>
<body>
  <div class="header">
    <h1>Sobre Nosotros</h1>
  </div>

  <div class="content">
    <div class="left-column">
      <h2>Quiénes somos</h2>
      <p>Gilca´s Sport Center es un centro de deportes líder en la ciudad, fundado en 1995 por Alberto Gilca. Nuestra misión es proporcionar un espacio para que las personas de todas las edades y habilidades puedan disfrutar de la actividad física y mejorar su salud y bienestar.</p>

      <h2>Nuestro equipo</h2>
      <img src="https://www.palco23.com/thumb/MTIwMHg2NzV4MQ==/files/0002017/000redaccion/fitness/entrenador-persona-948.jpg" alt="Nuestro equipo" class="team-photo">
      <p>Nuestro dedicado equipo de profesionales de fitness está aquí para ayudarte a alcanzar tus metas de salud y fitness. ¡Ven a conocernos!</p>
    </div>

    <div class="right-column">
      <h2>Nuestra ubicación</h2>
      <p>Estamos ubicados en la Calle Ficticia 123, Ciudad Inventada, PA 12345.</p>

      <div class="map">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3156.141246241142!2d-3.9797577235170136!3d37.71636231552171!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd6dc5c344134d3b%3A0xee93d44b10be80bf!2sI.E.S.%20%22Fernando%20III%22!5e0!3m2!1ses!2ses!4v1686418366686!5m2!1ses!2ses"
        allowfullscreen>
      </iframe>

    </div>

    <h2>Contacto</h2>
    <p>Para cualquier consulta, no dudes en contactarnos:</p>
    <p>Teléfono: (123) 456-7890</p>
    <p>Email: info@gilcassportcenter.com</p>
  </div>
</div>
</body>
</html>
